<%if Integer(@valor) == 1 %>
    <h1 class="text-center page-header">Videos para Inicio</h1>
    <h4 class="text-center text-primary">Para una mejor visualización, es recomendable, no agregar más de 3 videos.</h4>

    <%= link_to 'Nuevo Video', new_video_path(id: 0), class: "btn btn-success" %>
    <div class="text-center paginador">
      <%= will_paginate @inicio %>
    </div>
    <hr>
    <table class="table table-responsive">
      <thead class="text-info">
      <tr>
        <th>Video</th>
        <th>Url</th>
        <th>Tipo</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @inicio.each do |video|%>
              <tr>
                <td><iframe class="video1" src="https://www.youtube.com/embed/<%=video.url[video.url.index("=")+1,video.url.length] %>" frameborder="0" allowfullscreen></iframe></td>
                <td><%= video.url %></td>
                <td><%= video.tipo %></td>
                <td><%= link_to 'Editar', edit_video_path(video), class: "btn btn-warning" %></td>
                <td><%= link_to 'Eliminar', video, class: "btn btn-danger ", method: :delete, data: { confirm: '¿Estas Seguro?' } %></td>
              </tr>
          <% end%>
      </tbody>
    </table>
    <div class="text-center paginador">
      <%= will_paginate @inicio %>
      </div>
    <br>
<%end

  if Integer(@valor) == 2 %>
    <h1 class="text-center page-header">Videos para Promociones</h1>
    <h4 class="text-center text-primary">Para una mejor visualización, es recomendable, no agregar más de 5 videos.</h4>
    <%= link_to 'Nuevo Video', new_video_path(id: 1), class: "btn btn-success" %>
    <div class="text-center paginador">
      <%= will_paginate @promocion %>
    </div>
    <hr>
    <table class="table table-responsive">
      <thead class="text-info">
      <tr>
        <th>Video</th>
        <th>Url</th>
        <th>Tipo</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @promocion.each do |video|%>
              <tr>
                <td><iframe class="video1" src="https://www.youtube.com/embed/<%=video.url[video.url.index("=")+1,video.url.length] %>" frameborder="0" allowfullscreen></iframe></td>
                <td><%= video.url %></td>
                <td><%= video.tipo %></td>
                <td><%= link_to 'Editar', edit_video_path(video), class: "btn btn-warning" %></td>
                <td><%= link_to 'Eliminar', video, class: "btn btn-danger ", method: :delete, data: { confirm: '¿Estas Seguro?' } %></td>
              </tr>
          <% end%>
      </tbody>
    </table>
    <div class="text-center paginador">
      <%= will_paginate @promocion %>
     </div>
    <br>
<%end%>
