<article class="panel panel-primary page-header">
  <article class="panel-heading text-center">
    <h3 class="panel-title"><%= @gallery.product.name %></h3>
  </article>
  <article class="panel-body">
    <p class="text-center">
      <%if @gallery.product.has_imagen? %>
          <%=image_tag(@gallery.product.imagen_path, size:"300x250" )%>
      <% else %>
          <%= image_tag("/assets/missing.jpg", size: "300x250")  %>
      <%end%>
    </p>
    <h3 class="text-center">
      <strong class="">Promocion:</strong><br>
      <%= @gallery.promocion %>
    </h3>
    <%= link_to 'Regresar', promotions_path, class: "btn btn-danger" %>
  </article>
</article>

